@keyframes bottom-in{
    0%{
        transform:translateY(100%);
        // opacity: 0;
    }
    100%{
        transform:translateY(0);
        // opacity: 1;
    }
}

// .bottom-in{
//     animation: bottom-in .8s  both ease;
// }

@keyframes bottom-out{
    0%{
        transform:translateY(0);
        // opacity: 1;
    }
    100%{
        transform:translateY(100%);
        // opacity: 0;
    }
}

.bottom-in{
    animation: bottom-in .5s  both ease;
}

.bottom-out{
    animation: bottom-out .5s  both ease;
}

