$hH:88px;
$fH:98px;
$mC:#ff4a83;
/*1px像素边框*/

.num {
    font-family: Helvetial !important;
}

@mixin border-1px($color) {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        border-top: 1px solid $color;
    }
}

;
@mixin border-none() {
    &:after {
        display: none;
    }
}

/*2倍和3倍图片*/

@mixin bg-image($url) {
    background-image: url($url + "@2x.png");
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        background-image: url($url + "@3x.png");
    }
}

.mint-msgbox-confirm {
    color: $mC !important;
}

.bottom-picker {
    .mint-popup-bottom,
    .mint-popup {
        width: 100% !important;
        .twobtn {
            line-height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            border-bottom: 1px solid #eaeaea;
            span {
                flex: 1;
                text-align: center;
                color: $mC;
                font-size: 32px !important;
            }
        }
    }
}

.mint-header {
    background-color: $mC;
}

.mint-button:not(.is-disabled):active::after {
    opacity: .2/* .6 */
}

.mint-button--primary {
    background-color: $mC;
}

.mint-button--primary.is-plain {
    border: 1px solid $mC;
    color: $mC
}

.mint-badge.is-primary {
    background-color: $mC
}

.mint-switch-input:checked+.mint-switch-core {
    border-color: $mC;
    background-color: $mC;
}

.mint-navbar .mint-tab-item.is-selected {
    border-bottom: 3px solid $mC;
    color: $mC;
}

.mint-tabbar>.mint-tab-item.is-selected {
    color: $mC;
}

.mint-searchbar-cancel {
    color: $mC;
}

.mint-checkbox-input:checked+.mint-checkbox-core {
    background-color: $mC;
    border-color: $mC;
}

.mint-radio-input:checked+.mint-radio-core {
    background-color: $mC;
    border-color: $mC;
}

.mt-range-progress {
    background-color: $mC;
}

.mt-progress-progress {
    background-color: $mC;
}

.mint-msgbox-confirm {
    color: $mC;
}

.mint-msgbox-confirm:active {
    color: $mC;
}

.mint-datetime-action {
    color: $mC;
}

.mint-msgbox-confirm {
    color: $mC;
}

.height0 {
    height: 0;
    overflow: hidden;
}

// .box{
//   height: 100%;
// }
// .loadmorebox {
//     height: 100%;
// } //
// .mint-loadmore {
//     height: 100%;
//     .mint-loadmore-content {
//         height: 100%;
        // .listbox {
        //     height: 100%;
        // }
        
//     }
// }
.listbox {

 
}